__pycache__/
model_analysis_code/__pycache__/
model_training_code/__pycache__/

data/*
!data/.gitkeep

results/*
!results/.gitkeep

test_codes/

training_checkpoints/*
!training_checkpoints/.gitkeep

wandb_logs/*
!wandb_logs/.gitkeep
